<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GW2Miner.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
<appSettings>
    <add key="SessionKey" value="9E141C69-FCFE-4F4B-BE85-19B485DABC3C" />
    <add key="CharId" value="900EF1C5-6DEE-E111-8D5B-9C8E990DC2EE" />
  </appSettings>
    <userSettings>
        <GW2Miner.Engine.Properties.Settings>
            <setting name="SessionKey" serializeAs="String">
                <value>9E141C69-FCFE-4F4B-BE85-19B485DABC3C</value>
            </setting>
            <setting name="CharId" serializeAs="String">
                <value>900EF1C5-6DEE-E111-8D5B-9C8E990DC2EE</value>
            </setting>
        </GW2Miner.Engine.Properties.Settings>
    </userSettings>
</configuration>
